/* estilização do menu superior em flexbox */
.menu{
    display: flex;
    justify-content: center;
}

nav ul{
    list-style-type: none;
}

nav ul li a{
    text-decoration: none;
    color: black;
    display: block;
    width: 180px;
    padding: 15px;
    font-size: 30px;
    text-align: center;
}

nav ul li a:hover{
    background-color: dimgrey;
    color: white;
}

/* organização do conteúdo das pags em grid */
.quadro{
    display: grid;
    grid-template-columns: 250px 250px 250px;
    justify-content: center;
    margin: 10px;
    gap: 5px;
}

.titulo{
    grid-column: 1/4;
    text-decoration: underline;
}

.texto{
    grid-column: 1/4;
}

.texto2{
    grid-column: 1/2;
}

.texto3{
    grid-column: 3/4;
}

/* padronização do tamanho das imagens */
img{
    width: 250px;
}

/* espaçamento entre os tópicos na pag formatação */
div ul li{
    padding: 5px;
}

/* estilização da pag portfólio */
.fundo{
    background-image: url(img/trilha.jpeg);
    color: white;
    padding: 15px;
}

h3{
    margin: 0;
}

ol li{
    padding: 3px;
}

ol li a:hover{
    font-weight: bold;
}

/* estilização da pag contato */
a{
    color: black;
    text-decoration: none;
}

textarea{
    width: 170px;
    height: 55px;
}
